*{
    margin: 0px;
    padding: 0px;
}
header, nav, main, aside, footer {
	/* Cor do fundo. */
	/* background: #a1a1a1; */

	/* Exibição flexível.                          */
	/* Torna o elemento um flex container          */
	/* e os seus elementos internos em flex-itens. */
	display: flex;

	/* Margem externa de todos os lados. */
	margin: 3px;
	/* flex-wrap: wrap; */
}

/* Seletores para formatação individual. */

header {
	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 100vw;
	height: 50px;
	background: #FCF5F3;
}

header #logo {
	/* Exibição flexível.                          */
	/* Torna o elemento um flex container          */
	/* e os seus elementos internos em flex-itens. */
	display: flex;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 0 1 110px;

	/* Cor do fundo. */
	/* background: #c9c9c9; */

	/* Alinha os itens na vertical. */
	justify-content: center;

	/* Alinha os itens na horizontal. */
	align-items: center;
}

#openMenu, #closeMenu {
	/* Remove a borda. */
	border: none;

	/* Remove a cor de fundo. */
	background: none;

	/* Tamanho da fonte. */
	font-size: 30px;

	/* Espessura da forte. */
	font-weight: bold;

	/* Margem ao redor do elemento              */
	/* (superior, direito, inferior e esquerdo) */
	padding: 0px 5px 0px 5px;

	/* Muda o cursor do mouse para ponteiro.*/
	cursor: pointer;

	/* Oculta o elemento. */
	display: none;
}
nav {
	/* Alinha os itens na vertical. */
	justify-content: flex-end;

	/* Alinha os itens na horizontal. */
	align-items: center;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 200px;
}
main {
	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 20 1 500px;
	height: 834px;
	background: rgb(255,250,255);
background: linear-gradient(90deg, rgba(255,250,255,1) 0%, rgba(254,246,251,0.17970938375350143) 35%, rgba(251,247,251,1) 100%);
}

main #fundo{
	width: 100%;
	background-size: cover;
}

aside {
	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 200px;
	background: #BFA6AB;
	
}

/* aside img{
	width: 50px;
	height: 50px;
	justify-content: bottom;
} */

footer {
	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 100vw;
	height: 50px;
	background: #FCF5F3;
	justify-content: flex-end;
	align-items: center;
}

footer img{
	width: 40px;
	height: 40px;
}

footer a{
	justify-content: flex-end;
	align-items: center;
	margin: 0 1%;
}

a {
	/* Remove a decoração padrão do elemento. */
	text-decoration: none;

	/* Definir a cor da fonte para o padrão do elemento pai. */
	color: inherit;
}

/* Altera o estilo dos elementos para serem apresentados */ 
/* em telas menores que 717px. */
@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		/* Retorna a visibilidade padrão. */
		display: block;
	}

	#openMenu {
		/* Espaço a esquerda será preenchido automaticamente
		   colocando os itens a direita. */
		margin-left: auto;
	}

	#closeMenu {
		/* Torna a posição do elemento fixa. */
		position: fixed;

		/* Dispõe o elemento a 15px da esquerda. */
		right: 15px;

		/* Dispõe o elemento a 15px do topo. */
		top: 15px;
	}

	header {
		/* Ordem da visualização dos elementos. */
		order: 0;
	}

	nav {
		/* Ordem da visualização dos elementos. */
		order: 1;

		/* Torna a posição do elemento fixa. */
		position: fixed;

		/* Ocupa 100% da largura da tela de exibição. */
		width: 100vw;

		/* Ocupa 100% da altura da tela de exibição. */
		height: 100vh;

		/* Cor em RGB, mais transparência. */
		background: rgba(255, 255, 255, 0.8);

		/* Dispõe os itens em coluna. */
		flex-direction: column;

		/* Alinha os itens na horizontal. */
		align-items: center;

		/* Alinha os itens na vertical. */
		justify-content: center;

		/* Remove a margem externa de todos os lados do elemento. */
		margin: 0;

		/* Oculta o elemento. */
		display: none;

		/* Invisivel */
		opacity: 0;

		/* Velocidade de transição de um estado para outro. */
		transition: 0.3s;
	}

	nav a {
		/* Margem de todos os lados. */
		margin: 3%;
	}

	/* body{
		flex-direction: column;
	} */

	main {
		/* Ordem da visualização dos elementos. */
		order: 2;
	}

	aside {
		/* Ordem da visualização dos elementos. */
		order: 3;
		height: 60px;
	}

	footer {
		/* Ordem da visualização dos elementos. */
		order: 4;
	}
}
nav a {
	/* Margem de todos os lados. */
	margin: 0 3%;

	/* Tamanho da fonte. */
	font-size: 15pt;
}

body{
    color: #F2D9D9;
    text-align: center;
    background-color: #f1f1f1; 
}
.card button{
    width: 10%;
    padding: 10px;
    background-color: #f2d9d9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form {
    background-color:#ffffff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
}
input,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f2d9d9;
    border-radius: 4px;
}
input,
::placeholder{
    color: #F2D9D9;
}